.App {
  padding: 3em;
  text-align: center;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 4em;
}

.card {
  height: 275px;
  width: 200px;
  border: 1px solid black;
  padding: 2em;
  margin: 1em;
  border-radius: 4px;
}

.card.black {
  background: black;
  color: white;
}
